@model server.Models.CourseSection

@{
    ViewData["Title"] = "Delete";
}
<style>
    h1 {color: #FFFFFF; margin-left:32px; margin-top:128px}
    h3 {color: #FFFFFF; margin-left:32px;}
    back {margin-left:32px}
    card {margin-left:32px}
</style>
    <div class="col-md-12 body">
        <br />
        <h1>@ViewData["Title"]</h1>
        <h3>Are you sure you want to delete this?</h3>
    </div>
    <hr />
   <card class = "col-md-8 card" style="background:#F4F4F4;">
    <br />
    <dl class="row" align="left">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
    </dl>
    <form asp-action="Delete" align="right">
        <input type="hidden" asp-for="CourseSectionID"/>
        <input type="submit" value="Delete" class="btn btn-danger" style="background:#643385; margin-right:32px;" /> |
    </form>
    <br />
    </card>
<back>
    <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseID">Back to Course</a>
</back>
