@model server.Models.CourseSection

@{
    ViewData["Title"] = "Details";
}
<div class="header-background">
    <div class="container-md align-items-end mb-2 h-100 d-flex">
        <div class="row">
            <div class="col">
                <h1 class="display-3" style="color: white">@Model.Title</h1>
            </div>

        </div>
    </div>
</div>
<div class="container-md pt-2">
    <div class="row">
        <div class="col">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Course" asp-action="Index">Cursos</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseID">@Model.Course.Title</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @Model.Title
                    </li>
                </ol>
            </nav>
        </div>

    </div>

    <div class="row">
        <div class="col">
            @Html.DisplayFor(model => model.Description)
        </div>

    </div>

    <div class="row">
        <div class="col">
            <p class="wspl">
                @Html.DisplayFor(model => model.Content)
            </p>
        </div>
    </div>
    <div class="row">
        @foreach (var question in Model.Questions)
        {
            <div class="col">
                <h6>Pregunta @question.Position</h6>
                <h5>@question.QuestionText</h5>
                <a class="btn btn-outline-primary" asp-controller="Question" asp-action="Edit" asp-route-id="@question.Id">Editar</a>
            </div>
        }
    </div>
    <div class="row mt-4">
        <div class="col">
            <a class="btn btn-primary" style="background:#643385;"asp-action="Game" asp-route-id="@Model.CourseSectionID">Ir a juego</a>
            <a class="btn btn-primary" style="background:#643385;"asp-action="Edit" asp-route-id="@Model.CourseSectionID">Editar</a>

            @{
                var queryParams = new Dictionary<string, string>
                {
                    { "CourseSectionID", @Model.CourseSectionID.ToString() },
                };
            }

            <a class="btn btn-primary" style="background:#643385;" asp-controller="Question" asp-action="Create" asp-all-route-data="queryParams">Agregar pregunta</a>
        </div>
    </div>

</div>