@model server.Models.Course

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid body align-items-end mb-2" style="display: flex">
    <div class="row">
        <div class="col">

            <h1 class="display-3" style="color: white">@Model.Title</h1>
        </div>

    </div>
</div>
<div class="container-fluid">
    <p class="p">
        @Html.DisplayFor((model => model.Description))
    </p>
    @if (Model.Sections != null)
    {
        foreach (var courseSection in Model.Sections)
        {
            <h4>@courseSection.Title</h4>
            <p>@courseSection.Description</p>
        }
    }
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CourseID" asp-all-route-data="">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>

</div>