@model server.Models.Course

@{
    ViewData["Title"] = "Details";
}
<style>
    h1 {color: #FFFFFF; margin-left:32px; margin-top:138px}
    h4 {color: #FFFFFF; margin-left:32px;}
    buttons {margin-left:32px}
    card {margin-left:32px}
</style>
    <div class="col-md-12 body">
        <br />
        <h1>@ViewData["Title"]</h1>
        <h4>Course</h4>
    </div>
<div>
    <hr />
    <card class = "col-md-8 card" style="background:#F4F4F4;">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUserID)
        </dd>
    </dl>
    </card>
</div>
<buttons>
    <a asp-action="Edit" asp-route-id="@Model?.CourseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</buttons>
