@model IEnumerable<server.Models.Course>

@{
    ViewData["Title"] = "Index";
}
<style>
    h1 { color: #FFFFFF; margin-left:32px; margin-top:168px}
    create {margin-left:32px}
    card {margin-left:32px}
</style>
<div class= "col-md-12 body">
    <br />
    <h1>Cursos</h1>
</div>
    <div>
        <br />
    <create>
        <a asp-action="Create">Create New</a>
    </create>
    <br />
    <card class="col-md-8 card" style="background:#F4F4F4;">
        <br />
        <table class="table">
            @foreach (var item in Model) {
            <h5 style="margin-left:32px;" class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
            }
            <thead>
            <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserID)
            </th>
            <th></th>
            </tr>
            </thead>
        <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
            </td>
        </tr>
}
        </tbody>
        </table>
    </card>
    </div>